<!DOCTYPE html>
<!-- <html lang="en"> -->
<html style="background: #f5f5f5;">

<head>
    <meta charset="UTF-8">
    <!-- 清除缓存 S -->
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <!-- 清除缓存 E -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>领胜云付</title>
</head>

<body>
<div>
    <h1>该商户还没有绑定子商户,无法完成支付</h1>
</div>
</body>
<script src="//pub.idqqimg.com/qqmobile/qqapi.js?_bid=152"></script>
<script type="text/javascript">
    var tokenId = "{$tokenId}";
    alert(tokenId);
//    mqq.IOS = true;
//    mqq.version = '4.2';
//    mqq.QQVersion = '4.6.2';
    mqq.tenpay.pay({
        tokenId: tokenId,
        pubAcc: "",
        pubAccHint: ""
    });
</script>
</html>