    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.css" rel="stylesheet">
	<link href="__CSS__/sweetalert.css" rel="stylesheet">
    <link href="__CSS__/animate_new.css" rel="stylesheet">
    <link href="__CSS__/style.css" rel="stylesheet">
	<link href="__CSS__/app.css" rel="stylesheet">
	<!-- Mainly scripts -->
	<script src="__JS__/jquery-2.1.1.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/jquery.metisMenu.js"></script>
    <script src="__JS__/jquery.slimscroll.min.js"></script>
	<!-- Custom and plugin javascript -->
    <script src="__JS__/inspinia.js"></script>
    <script src="__JS__/pace.min.js"></script>
	<script src="__JS__/sweetalert.min.js"></script>
	<script src="__JS__/jquery.qrcode.min.js"></script>
    <!----开放式头部，请在自己的页面加上--</head>-->

    
    <link rel="stylesheet" type="text/css" href="__STATIC__/weui/lib/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/weui/css/jquery-weui.min.css"/>
    <script type="text/javascript" src="__STATIC__/weui/js/jquery-weui.min.js"></script>