<extend name="Public/base"/>

<block name="title">商家列表</block>

<block name="levels"><li><a href="{:U("SX/Index/index")}">后台首页</a></li><li>网站商家</li></block>

<block name="body">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title clearfix">
            <h1 class="realtime-title">商家信息列表&nbsp;&nbsp;(共：{$Page['total']} 条)</h1>
            <div class="input-group">
              <input id="username" type="text" class="form-control" placeholder="输入商户名称" value="{:I('username')}"> <span class="input-group-btn"> <button id="search" type="button" class="btn btn-primary">搜索
              </button> </span>
            </div>
          </div>


<div class="ibox-content"> 
   <nav class="ui-nav clearfix"> 
   </nav> 
   <div class="app__content js-app-main page-cashier">
    <div>
      <div class="cashier-realtime"> 
       <div class="realtime-title-block clearfix"> 
        
       </div> 
      </div> 
      <div class="js-real-time-region realtime-list-box loading">
       <div class="widget-list">
        <div style="position: relative;" class="js-list-filter-region clearfix ui-box">
         <div class="widget-list-filter"></div>
        </div> 
        <div class="ui-box"> 
         <table style="padding: 0px;" data-page-size="20" class="ui-table ui-table-list default no-paging footable-loaded footable"> 
          <thead class="js-list-header-region tableFloatingHeaderOriginal">
           <tr class="widget-list-header">
            <th>ID</th>
            <!--<th>选为特约商户</th>-->
            <th>选为受理商</th>
            <th>商户名称</th>
            <th data-hide="phone">账号</th>
            <th data-hide="phone">微信配置</th>
            <th data-hide="phone">来源</th>
            <th data-hide="phone">审核状态</th>
            <th>操作</th>
           </tr>
          </thead>

          <tbody id="table-list-body" class="js-list-body-region">
            <if condition="!empty($Page['root'])">
             <volist name="Page['root']" id="vo" key='i'>
              <tr class="widget-list-item">
               <td class="uid">{$vo['userId']}</td>
               <!--<td style="padding-top:12px;" class="ptd"><input type="checkbox" <eq name="vo['wx_issp']" value="1"> checked="checked" </eq> data-type='{$vo['userId']}' class="i-checks issp"></td>-->
               <td style="padding-top:12px;" class="ptd"><input type="checkbox" <eq name="vo['userType']" value="1"> checked="checked" </eq> data-type='{$vo['userId']}' class="i-checks setType"></td>
               <td class="prelative"><span class="wxname">{$vo['userName']}</span><input type="text" class="form-control" placeholder="请输入商户名称">&nbsp;&nbsp;&nbsp;<span class="tips"><i class="fa fa-edit"></i><span>保存修改</span></span>
              </td>
               <td>{$vo['loginName']}</td>
               <td>
                  <?php
                      if(!empty($vo['wx_appId']) and !empty($vo['wx_appSecret']) and!empty($vo['wx_mchId']) and !empty($vo['wx_apiSecret']) and !empty($vo['wx_apiclientCert']) and !empty($vo['wx_apiclientKey']) and !empty($vo['wx_apiclientCa'])){
                        echo "<font color='green'>已配置</font>";
                      }else{
                        echo "末配置";
                      }
                  ?>
               </td>
               <td>
               	<?php
					switch($vo['userFlag']){
						case 0:
							echo "本站注册";
						break;
						case 1:
							echo "受理商添加";
						break;
					}
				?>
				</td>
        <td><?php
          switch($vo['userAudit']){
            case 0:
              echo "<span class='label label-default'>未审核</span>";
            break;
            case 1:
              echo "<span class='label label-primary'>已通过</span>";
            break;
            case 2:
              echo "<span class='label label-warning'>审核中</span>";
            break;
            case 3:
              echo "<span class='label label-danger'>未通过</span>";
            break;
          }
        ?></td>
        <td><a title="查看商户资料" href="{:U('SX/Users/auditdetail',array('id'=>$vo['userId']))}" target="_blank"><i style="font-size: 16px;" class="fa fa-edit text-navy"></i></a>&nbsp;&nbsp;<a title="登陆商户" href="{:U('SX/Users/logining',array('id'=>$vo['userId']))}" target="_blank"><i style="font-size: 19px;" class="fa fa-sign-in text-navy"></i></a>&nbsp;&nbsp;</td>
        <!--<a onclick="showtopup('{$vo['userName']}','{$vo['userId']}')" title="充值" href="javascript:;" target="_blank"><i style="font-size: 19px;" class="fa fa-money text-navy"></i></a>-->
              </tr>
             </volist>
            <else />
                   <tr class="widget-list-item"><td colspan="8">暂无商家信息</td></tr>
             </if>
           </tbody> 
         </table> 
         <div class="js-list-empty-region"></div> 
        </div> 
        <div class="js-list-footer-region ui-box">
         <div class="widget-list-footer"></div>
        </div> 
       </div>
      </div> 
     </div>
    </div>
   </div> 
  </div>
 {$Page['pager']}
  </div>
    </div>
</block>

<block name="top">
<link href="__CSS__/wxCoupon.css" rel="stylesheet">
<link href="__CSS__/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="__CSS__/footable.core.css" rel="stylesheet">
<link href="__CSS__/plugins/custom.css" rel="stylesheet">
<style type="text/css">
#table-list-body .fa-edit{ color: #3DA142;font-size: 20px;}
#table-list-body .tips{ color: #3DA142;cursor: pointer;}
#table-list-body .tips span{ display: none;} 
#table-list-body .prelative .form-control {
display: none;
vertical-align: middle;
width: auto;
height: 30px;
padding: 3px 10px;
}
</style>
</block>

<block name="bottom">
  <div class="modal inmodal" tabindex="-1"  id="top_up">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <form action="" method="post" enctype="multipart/form-data">
        <div class="modal-header">
                    <button type="button" class="close _close"><span>×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
        <div class="modal-body">
          <div class="setting_rows">
            <div id="wxActionBox" class="wxpay_box">
              <div class="form-group">
                <label>充值金额：</label>
                <input type="number" name="price" placeholder="输入要充值的金额" value="0" class="form-control">
                <input type="hidden" name="id" value="0">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
                    <button type="button" class="btn btn-white _close" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-confirm">确定</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<script src="__JS__/footable.all2.min.js"></script>
<script src="__JS__/plugins/icheck.min.js"></script>
  <script type="text/javascript">
 $('#table-list-body .prelative .tips').click(function(){
    if($(this).hasClass('fedit')){
       var uid= $(this).parent().siblings('.uid').text();
       uid=parseInt($.trim(uid));
       var vv=$(this).siblings('.form-control').val();
       vv=$.trim(vv);
       if(!vv){
          swal({title: "温馨提示",text:'没填写内容！',type: "error"});
          return false;
       }else{
         var _this= $(this);
         $.post('{:U("SX/Users/mdfyName")}',{uid:uid,un:vv},function(ret){
            if(ret.status == '1'){
             _this.siblings('.wxname').text(vv);
             }else{
                swal({title: "温馨提示",text:'修改失败！',type: "error"});
             }
       _this.siblings('.wxname').show();
       _this.siblings('.form-control').hide();
       _this.find('span').hide();
       _this.removeClass('fedit');
         },'JSON');
       }
    }else{
       $(this).siblings('.wxname').hide();
       var wxname=$(this).siblings('.wxname').text();
       $(this).siblings('.form-control').val(wxname).show();
       $(this).find('span').show();
       $(this).addClass('fedit');
    }
 });

function htmlToArray(data){
      data = data.split('&');
      var info = {};
      $.each(data,function(k,v){
        v = v.replace('%5D','').split('=');
        var s = v[0].split('%5B');
        typeof(info[s[0]]) == 'undefined' && (info[s[0]] = {}),info[s[0]] = v[1];
      });
      return info;
    }

    function showtopup(name,id){
      $('.modal-title').html(name);
      $('#top_up input[name=id]').val(id);
      $('#top_up').show();
    }

    $("#top_up ._close").click(function(){
        $('.modal-title').html("");
        $('#top_up input[name=id]').val("");
        $('#top_up').hide();
    });

    $('.btn-confirm').click(function(){
        var payConfigData = $(this).parents('form').serialize();
        $.post('{:U("SX/Users/topup")}',{data:htmlToArray(payConfigData)},function(result){
          if(result.status == 1){
            swal({title: "温馨提示",text:'充值成功',type: "success"}, function () {
                  window.location.reload();
              });
          }else{
            swal({title: "温馨提示",text:'充值失败',type: "error"});
          }
        },'json');
    });

$(document).ready(function(){
  $('#search').click(function(){
    var username = $("#username").val();
    window.location.href="{:U('SX/Users/merLists')}?username="+username;
  });

  $('#listfootable').footable();
   $('.i-checks').iCheck({
           checkboxClass: 'icheckbox_square-green',
           radioClass: 'iradio_square-green',
        });

    $('.issp').on('ifChanged', function(){
      var isselect=0;
      var uid= $(this).attr("data-type");
      uid=parseInt($.trim(uid));
      if($(this).is(':checked')){
         isselect = 1;
      }else{
         isselect = 0;
      }
      $.post('{:U("SX/Users/setIssp")}',{uid:uid,isselect:isselect},function(ret){
          if(ret.status == -1){
            swal({title: "温馨提示",text:'修改失败！',type: "error"});
          }
      });
      return false;
    });

    $('.setType').on('ifChanged', function(){
      var isselect=0;
      var uid= $(this).attr("data-type");
      uid=parseInt($.trim(uid));
      if($(this).is(':checked')){
         isselect = 1;
      }else{
         isselect = 0;
      }
      $.post('{:U("SX/Users/setType")}',{uid:uid,isselect:isselect},function(ret){
          if(ret.status == -1){
            swal({title: "温馨提示",text:'修改失败！',type: "error"});
          }
      });
      return false;
    });

  });

</script>
</block>