<extend name="Public/base"/>

<block name="title">创建子商户</block>

<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>商家设置</li></block>

<block name="body">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-md-12">
				<form method="post" class="form-horizontal" action="" id="myform">
					<div class="panel panel-default">

						<div class="panel-heading"><div class="panel-title"><em class="fa fa-list"></em> 子商户信息填写</div></div>
						<div class="panel-body">

							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">接口类型</label>
									<div class="col-sm-3">
										<select name="api_type">
											<option value="0">上海银行</option>
											<option value="1">拙    歌</option>
										</select>
										<div id="" class="onCorrect">&nbsp;</div></div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">商户名称</label>
									<div class="col-sm-3"><input class="form-control" data-val="true" id="PassWord" name="PassWord" type="password" value=""><div id="PassWordTip" class="onCorrect">&nbsp;</div></div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-3"><input class="form-control" data-val="true" id="NewPassWord" name="NewPassWord" type="password" value=""><div id="NewPassWordTip" class="onShow">请输入新密码</div></div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">确认密码</label>
									<div class="col-sm-3"><input class="form-control" data-val="true" id="NewPassWord2" name="NewPassWord2" type="password" value=""><div id="NewPassWord2Tip" class="onShow">请再次输入新密码</div></div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">图形验证码</label>
									<div class="col-sm-3"><input class="form-control" data-val="true" id="Vcode" name="Vcode" type="text" value=""></div>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">短信验证码</label>
									<div class="col-sm-3"><input class="form-control" data-val="true" id="SmsCode" name="SmsCode" type="text" value=""><div id="SmsCodeTip" class="onShow">请输入手机验证码</div></div>
									<div class="col-sm-7"><input type="button" value="发送验证码" id="btnSendMobile" onclick="return sendMobileCode()" autocomplete="off"></div>
								</div>
							</fieldset>
						</div>
						<div class="panel-footer text-left">
							<fieldset>
								<div class=" form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-3"><button type="submit" class="mb-sm btn btn-success">提交</button></div>
									<div class="col-sm-7"></div>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</block>