
<extend name="Public/base"/>

<block name="title">员工编辑</block>

<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>商家设置</li></block>

<block name="body">
            <div class="row">
				<form id="employersForm" class="form" action="{:U('Manage/Ustaffs/employersAppemd')}" method="post">
				<input type="hidden" name="usId" value="{$employees['usId']}">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
							<div class="form-group">
								<label><span class="mustInput">*</span>登录账号:</label>
								<input type="text" id="account" placeholder="请输入登录账号" name="account" value="{$employees['account']}" class="form-control required" disabled>
							</div>
							<div class="form-group">
								<label><span class="mustInput">*</span>员工名称:<span class="f999">(20字以内)</span></label>
								<input type="text" id="username" placeholder="请输入员工名称" name="username" value="{$employees['userName']}" class="form-control required" aria-required="true">
							</div>
							<div class="form-group">
								<label><span class="mustInput">*</span>手机号:</label>
								<input type="tel" id="phone" placeholder="请输入员工的手机号" name="phone" value="{$employees['phone']}" class="form-control required" aria-required="true">
							</div>
							<div class="form-group">
								<label><span class="mustInput">*</span>密码:</label>
								<input type="password" id="password" placeholder="不修改密码则不需要填写(6到20个字符)" name="password" class="form-control">
							</div>
							<div class="form-group">
								<label><span class="mustInput">*</span>确认密码:<span class="f999"></span></label>
								<input type="password" id="confirm" placeholder="" name="confirm" class="form-control">
							</div>
							<div class="form-group">
								<label><span class="mustInput"></span>门店选择：<span class="f999"></span></label>
								<?php if(empty($stores)){?>
										 <div style="margin-top:10px">您还没有门店，请去门店管理里去创建吧。<br/>如果您不选门店，员工账号登录进来将可以看见所有的支付订单和卡券，会员卡<div>
										<?php }else{?>
										 <select id="storeid" name="storeid" class="form-control" aria-required="true" min="1" style="z-index:999">
										  <option value="0">请选择门</option>
										  <?php foreach($stores as $svv){?>
										   <option  value="<?php echo $svv['storeId'];?>" <?php if($svv['storeId'] == $employees['storeId']){?>selected="selected"<?php }?>><?php echo $svv['business_name'].$svv['branch_name']?>
										   <?php
												if($svv['available_state'] != 3){
													echo "(末通过审核)";
												}	
										   ?>
										   </option>
										  <?php }?>
										 </select>
										<?php }?>
							</div>
                                                        <div class="form-group">
								<label><span class="mustInput"></span>绑定打印机编号SN:<span class="f999"></span></label>
								<input type="text" id="printer_sn" placeholder="请输入打印机编号SN" name="printer_sn" value="{$employees['printer_sn']}" class="form-control">
							</div>
                        </div>
                    </div>
                </div>
				<div class="col-lg-12">
							<div class="ibox">
                    	    	<div class="ibox-title">
                    	       		<h5>权限设置</h5>
                    	    	</div>
                    	    	<div class="ibox-content">
                    	        	<div id="permission_list">
											<div class="part_item">
												<div class="part_item_t">
													<p><b><input type="checkbox" class="checkAll">微信支付</b></p>
												</div>
												<div class="part_item_b">
														<p><input type="checkbox" name="authority[]" value="wx_sksy" <if condition="strstr($employees['grant'],'wx_sksy')">checked</if>>扫码收银</p>
														<p><input type="checkbox" name="authority[]" value="wx_ewmsy" <if condition="strstr($employees['grant'],'wx_ewmsy')">checked</if>>二维码收银</p>
														<p><input type="checkbox" name="authority[]" value="wx_smtk" <if condition="strstr($employees['grant'],'wx_smtk')">checked</if>>扫码退款</p>
												</div>
											</div>

											<div class="part_item">
												<div class="part_item_t">
													<p><b><input type="checkbox" class="checkAll">数据统计</b></p>
												</div>
												<div class="part_item_b">
														<p><input type="checkbox" name="authority[]" value="orderlists" <if condition="strstr($employees['grant'],'orderlists')">checked</if>>收款订单列表</p>
												</div>
											</div>

											<div class="part_item">
												<div class="part_item_t">
													<p><b><input type="checkbox" class="checkAll">支付设置</b></p>
												</div>
												<div class="part_item_b">
														<p><input type="checkbox" name="authority[]" value="wx_zfsz" <if condition="strstr($employees['grant'],'wx_zfsz')">checked</if>>微信支付设置</p>
												</div>
											</div>
									</div>
                    	    	</div>
                    		</div>
						</div>
				<div class="col-lg-12">
               	 	<button type="submit" class="btn btn-primary pull-right">保存</button>
           		</div>
				</form>
            </div>
</block>

<block name="top">
    <link href="__CSS__/footable.core.css" rel="stylesheet">
	<link href="__CSS__/plugins/custom.css" rel="stylesheet">
	<style>
		.ibox{
		 	border: 1px solid #e7eaec;
		}
		.part_item {
  			background: none repeat scroll 0 0 #fff;
  			border: 1px solid #ccc;
  			border-radius: 5px;
  			padding-bottom: 15px;
  			margin-bottom: 10px;
		}
		.form .part_item p {
  			display: inline-block;
  			font-size: 14px;
  			overflow: hidden;
  			padding: 10px 20px 0;
  			text-overflow: ellipsis;
  			white-space: nowrap;
		}
		.part_item_b {
  			border-top: 1px solid #ccc;
  			margin-top: 10px;
		}
		.form .part_item p.active {
  			color: #f87b00;
		}
		.part_item input {
  			font-size: 14px;
  			margin-bottom: 2px;
  			margin-right: 5px;
		}
		.pagination{
			margin:0px;
		}
		.mustInput {
  			color: red;
  			margin-right: 5px;
		}
		@media (min-width: 768px){
			.form .part_item p {
				width: 37%;
			}
		}
		@media (min-width: 992px){
			.form .part_item p {
				width: 24%;
			}
		}
	</style>
</block>
<block name="bottom">
    <script src="__JS__/plugins/icheck.min.js"></script>
    <script src="__JS__/jquery.validate.min.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
			employers.init();
        });
		!function(a,b){
			var employers = employers || {};
			employers.init = function(){
				var c = employers;
				b('.part_item .checkAll').click(function(){
					var checkItems = b(this).parents('.part_item_t').siblings('.part_item_b').find('p').find('input[name="authority[]"]');
					if (b(this).is(':checked') == false) {
						checkItems.each(function(ke,el){
							$(el).iCheck('uncheck');
						});
					}else{
						checkItems.each(function(ke,el){
							$(el).iCheck('check');
						});
					}
				});
				jQuery.extend(jQuery.validator.messages, {
  					required: "必填字段",
  					remote: "请修正该字段",
  					email: "请输入正确格式的电子邮件",
  					equalTo: "请再次输入相同的值",
  					min: jQuery.validator.format("请选择门店"),
  					maxlength: jQuery.validator.format("请输入一个长度最多是 {0} 的字符串"),
  					minlength: jQuery.validator.format("请输入一个长度最少是 {0} 的字符串"),
				});
				b('#employersForm').validate({
                    errorPlacement: function (error, element){
                            element.before(error);
                    },
                    rules: {
                        confirm: {
                            equalTo: "#password"
                        },
						account: {
							minlength: 4
						},
						password: {
							minlength: 4
						}
                    }
                });
			};
			a.employers = employers;
		}(window,jQuery);
    </script>
</block>