<extend name="Public/base"/>

<block name="title">登陆日志</block>

<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>商家设置</li></block>

<block name="body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><em class="fa fa-list"></em> 登陆日志</div>
                    <div class="panel-tools"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead">
                            <tr>
                                <th class="text-center">登录时间</th>
                                <th class="text-center">登录IP</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
                            <?php foreach($list as $item){?>
                            <tr>
                                <td class="text-center"><?php echo $item['loginTime'];?></td>
                                <td class="text-center"><?php echo $item['loginIp'];?></td>
                            </tr>
                            <?php }?>
                            </tbody>
                        </table>
                    </div>
                    <div class="dataTables_paginate">

                    </div>

                </div>
            </div>
        </div>
    </div>
</block>