<extend name="Public/base"/>

<block name="title">提现</block>

<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>提现</li></block>

<block name="body">
				   <div class="row">
					   <div class="col-lg-12">
						   <div class="f-l pr-30 pb-20" style="height: 32px;" id="tongji">
							   总可提现金额：<font color="red">{$info['all_money']}</font> 元，
							   当前可提现金额：<font color="red">{$info['price']}元</font>，
							   余下 <span style="color: red;">{$info['tomorrow_money']}元</span>明天可提现
						   </div>
					   </div>
				<div class="col-lg-12">
				<div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>提现</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" id="pwdform" action="{:U("Manage/Users/modifyBank")}" method="POST">
                                
                                <div class="form-group"><label class="col-lg-2 control-label">提现金额</label>
                                    <div class="col-sm-9 input-group"><input type="text" class="form-control" placeholder="请输入提现金额" name="price"> <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
										<input type="button" id="btn" class="btn btn-primary" value="提 现">
                                    </div>
                                </div>
                            </form>
                        </div>
						</div>
                    </div>
					</div>
</block>

<block name="top"></block>

<block name="bottom">
 <script>
	 var maxMoney = {$info['price']};
	 $('#btn').click(function(){
		 var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
		 var money = $('[name=price]').val();
		 if (!reg.test(money)) {
			 return swal('操作提示','金额有误','error');
		 }
		 if(money > maxMoney){
			 return swal('操作提示','提现金额不能大于'+maxMoney + '元','error');
		 }
		 var json = $("#pwdform").serialize();
		 layer.msg('正在提交提现数据', {
			 icon: 16,
			 shade: 0.5,
			 time:0
		 });
		 $.post('{:U("Manage/Users/withdraw")}',json,function(resp){
			 if(resp.status == 1){
				 return setTimeout(function(){
					 layer.closeAll();
					 return swal("操作提示",'提现成功','success');
				 },500);
			 }
			 swal("温馨提醒", resp.info, "error");
		 });
	 });

</script>
</block>