<extend name="Public/base"/>

<block name="title">提现</block>

<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>提现</li></block>

<block name="body">
				   <div class="row">
				<div class="col-lg-12">
				<div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>提现</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" id="pwdform" action="{:U("Manage/Users/modifyBank")}" method="POST">
                                
                                <div class="form-group"><label class="col-lg-2 control-label">提现金额</label>
                                    <div class="col-sm-9 input-group"><input type="text" class="form-control" placeholder="请输入提现金额" name="price"> <span class="help-block m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
										<input type="button" id="btn" class="btn btn-primary" value="提 现">
                                    </div>
                                </div>
                            </form>
                        </div>
						</div>
                    </div>
					</div>
</block>

<block name="top"></block>

<block name="bottom">
 <script>
	 $('#btn').click(function(){
		 var reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
		 var money = $('[name=price]').val();
		 if (!reg.test(money)) {
			 return swal('操作提示','金额有误','error');
		 }
		 var json = $("#pwdform").serialize();
		 $.post('{:U("Manage/Users/withdraw")}',json,function(resp){
			 if(resp.status == 1){
				 return swal("操作提示",'提现成功','success');
			 }
			 swal("温馨提醒", resp.info, "error");
		 });
	 });
$("#pwdform").submit(function(){
	var oldpwd=$.trim($('input[name="oldpwd"]').val());
	var newpwd=$.trim($('input[name="newpwd"]').val());
	var new2pwd=$.trim($('input[name="new2pwd"]').val());
			
	if(!oldpwd){
		swal("温馨提醒", "您没有输入旧密码", "error");
		$('input[name="oldpwd"]').focus();
		return false;
	}
	if(!newpwd){
		swal("温馨提醒", "您没有输入新密码", "error");
		$('input[name="newpwd"]').focus();
		return false;
	}
	if(!new2pwd){
		swal("温馨提醒", "您没有输入新密码！", "error");
		$('input[name="new2pwd"]').focus();
		return false;
	}
	if(newpwd != new2pwd){
		swal("温馨提醒", "两次输入的新密码不一致", "error");
		$('input[name="new2pwd"]').focus();
		return false;
	}

	return true;
});

</script>
</block>