	@charset "UTF-8";
	textarea{outline:none;resize:none;}
	#dataselect .input-group-btn,#ym-select .input-group-btn{ width: 12%; }
	#dataselect .input-sm ,#ym-select .input-sm{ border-radius: 7px; height:40px; }
	#dataselect .btn-primary ,#ym-select .btn-primary{ margin-left: 20px; border-radius:4px; margin-bottom: 0px; }
	#dataselect .input-group-addon,#ym-select .input-group-addon{ border-radius: 7px; }
	.ibox-content{ min-height:800px; }
	.dropz .dz-image-preview,.dropz_bg .dz-image-preview,.dropz_graphic .dz-image-preview{ display:none;}
	.timetype2{ display:none;}

	.wizard > .steps a,.wizard > .steps a:hover,.wizard > .steps a:active{ background: #eee; color: #aaa;}
	.wizard > .steps .current a,.wizard > .steps .current a:hover,.wizard > .steps .current a:active{ background: #44B549; color: #fff; cursor: default; }
	.wizard > .steps .done a,.wizard > .steps .done a:hover,.wizard > .steps .done a:active{ background: #8ECB81; color: #fff; }
	.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active { background: #44B549 none repeat scroll 0 0; border-radius: 5px; color: #fff; display: block; padding: 0.5em 1em; text-decoration: none; }
	.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active { background: #F4F5F9 none repeat scroll 0 0; color: #aaa; cursor: default; }
	.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active { background: #ed5565 none repeat scroll 0 0;color: #fff;}
	.wizard > .content > .body .frm_input_box.error,.wizard > .content > .body .frm_input_box.error,.wizard > .content > .body input.error {background: rgb(251, 227, 228);border: 1px solid #fbc2c4;}
	.wizard .steps ul li{ width:16.66%; }
	.wizard > .content{background-color:#F4F5F9;}
	.wizard > .content > .body{ position:inherit; }
	.wizard > .content > .body input { border: none; display: inline; }

	.wizard > .content > .body .color_picker .dropdown_data_list li.dropdown_data_item{display:inline-block;}

	#js_editform.media_edit{ width:70%; float:right; min-width: 600px;}

	.appmsg_edit_item{padding:15px 0;}
	.appmsg_edit_item .frm_label { float: left; line-height: 33px; width: 7em;}
	.input-group .input-sm{width:88px;text-align:left;}
	.input-daterange .input-group-addon{border:none;background-color:#f4f5f9;}


	.msg_card_cell.member_extend_area{ margin:0; padding:0; height:28px; }
	.msg_card_cell.member_extend_area li{ width:33.3%; height:36px; float:left; box-sizing:border-box; border-left: 1px solid #cccad7; text-align: center; line-height: 14px; list-style:none; }
	.msg_card_cell.member_extend_area li span{ margin-top: 1px; color:#676a6c; display: inline-block; vertical-align: top; }
	.msg_card_cell.member_extend_area li:first-child{ border-left: 0; }
	.msg_card_cell.member_extend_area li p{ color:<?php echo $colorValue ?>; margin-top: 5px; }
	.msg_card_cell.quick_pay { height: 14px; line-height: 14px; text-align: center; padding: 20px 0; border-top: 1px solid #e7e7eb; }
	.msg_card_cell.quick_pay .quick_pay_wording { font-size: 12px; }
	.msg_card_cell.shop_detail { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }
	.msg_card_cell.shop_detail .list li:last-child .li_panel { border-bottom-width: 0; }
	.msg_card_cell.custom_detail { margin-top: 1em; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	.msg_card_cell.custom_detail .list { border-bottom-width: 0; }
	.msg_card_cell.custom_detail .list li:last-child .li_panel { border-bottom-width: 0; }
	.msg_card_cell.dispose { display: none; }
	.msg_card_cell.promotion { color: #ff9f00; text-align: center; padding: 5px 0; background-color: transparent; visibility: hidden; }
	.msg_card_cell.last_cell { border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; }
	.msg_card_cell.last_cell .list { border-bottom-width: 0; }

	.card_preview_area { float: left; width: 318px; margin-right: 16px; padding-bottom: 0px; overflow: hidden; background: url("../../images/market/topbar28a82e.png") no-repeat center 5px; }
	.card_preview_area .msg_title { text-align: center; height: 62px; line-height: 85px; font-size: 11px; color: #fff; display: none; }
	.card_preview_area .card_body { margin: 64px 10px 10px; }
	.card_preview_area .msg_card_cell { background-color: #fff; *zoom: 1; }
	.card_preview_area .logo_area { position: relative; margin-bottom: 7px; line-height: 42px; color: #8d8d8d; margin-top: -40px; }
	.card_preview_area .logo { display: block; width: 38px; height: 38px; padding-top: 0; margin: 0 auto; border-radius: 22px; -moz-border-radius: 22px; -webkit-border-radius: 22px; float: none; border: 1px solid #e7e7eb; background-color: #fff; }
	.card_preview_area .logo img { display: block; width: 100%; height: 100%; border-radius: inherit; -moz-border-radius: inherit; -webkit-border-radius: inherit; }
	.card_preview_area .logo img[src=""] { display: none; }
	.card_preview_area .logo img[src="http"] { display: block; }
	.card_preview_area .logo img[src="//"] { display: block; }
	.card_preview_area .msg_area { *overflow: hidden; }

	.btn_use_card { border-width: 0; background-color: #f4f5f9; }
	.btn_use_card[style^="background"] { color: #fff; }


	.card_preview_area[style^="background-color"] { background-image: url("../../images/market/topbar_white29bc6c.png"); }

	.msg_card_section { position: relative; }
	.msg_card_section.shop { margin: 0; padding: 0; border-bottom: 1px dashed #e7e7eb; position: relative; background-color: #fff; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }
	.msg_card_section.shop .shop_panel { padding: 21px 12px 12px; *height: 137px; min-height: 137px; height: auto; text-align: center; }
	.msg_card_section.shop .tick_msg { margin-bottom: 6px; }
	.msg_card_section.shop .tick_msg .card_name { font-weight: normal; font-size: 28px; word-break: break-word; word-wrap: break-word; }
	.msg_card_section.shop .time { text-align: center; }
	.msg_card_section.dispose { margin-bottom: 15px; padding: 15px 0; border-bottom: 1px solid #e7e7eb; }
	.msg_card_section.usabled { margin: 0; padding: 0; border: 3px dotted #e7e7eb; }

	.member_card { background-image: none; border: 1px solid #e7e7eb; }
	.member_card .card_body { margin: 0; }
	.member_card .shop { padding: 80px 26px 10px; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; background: #fff url("../../images/market/topbar28a82e.png") no-repeat center 5px; border-bottom: 0; }
	.member_card .shop .shop_panel { background-color: #fff; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; text-align: left; padding: 0 0 10px; overflow: hidden; position: relative; background-size: 100% 100%; background-size: cover; background-position: top center; }
	.member_card .shop .logo_area { margin: 0; padding: 24px 20px 12px 66px; text-align: left; line-height: 20px; color: #fff; font-size: 14px; font-weight: bolder; text-shadow: 1px 1px 3px #666; }
	.member_card .shop .card_name { font-size: 14px; font-weight: bold; }
	.member_card .shop .logo { position: absolute; width: 38px; height: 38px; top: 24px; left: 20px; }
	.member_card .shop .qrcode { width: 36px; height: 36px; background: url("../../images/market/member_card_control_z2dcda9.png") 0 -183px no-repeat; position: absolute; top: 26px; right: 20px; }
	.member_card .msg_area { padding: 2px 20px 10px; margin-top: 30px; position: relative; }
	.member_card .msg_area .member_number { font-size: 17px; font-family: menlo,tahoma; text-shadow: 1px 1px 2px #666; line-height: 18px; color: #fff; }
	.member_card .msg_area .icon_info { display: inline-block; width: 18px; height: 18px; float: right; background: url("../../images/market/member_card_control_z2dcda9.png") 0 -229px no-repeat; }
	.member_card .msg_card_cell { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }
	.member_card .quick_pay { height: auto; padding: 17px 0 30px; border-top: 0; border-bottom: 1px solid #e7e7eb; }
	.member_card .quick_pay .btn_card_preview { display: inline-block; height: 36px; line-height: 36px; border-width: 1px; border-style: solid; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px; width: 136px; }
	.member_card .mask { display: none; position: absolute; width: 100%; height: 100%; z-index: 0; background: rgba(0,0,0,0.6); background: -moz-linear-gradient(top,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.2) 100%); background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,0.6)),color-stop(100%,rgba(0,0,0,0.2))); background: -webkit-linear-gradient(top,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.2) 100%); background: -ms-linear-gradient(top,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.2) 100%); background: linear-gradient(to bottom,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=0); }
	.affix { position: fixed; top: 20px; }
	#js_destroy_type .frm_grid .radio_control_group{float:left;margin: 0 25px 0 0;}
	#js_destroy_type .frm_grid .radio_control_group .frm_tips{color:#8d8d8d;font-weight:normal;}
	#js_destroy_type .frm_grid .frm_demo_img { background-color: #fff; border: 1px solid #e7e7eb; margin-left: 24px; padding: 10px; text-align: center; }
	#js_edit_area-p-1 .graphic_list{margin:10px 0;}

	.formError{z-index:990;}
	.formError .formErrorContent{z-index:991;}
	.formError .formErrorArrow{z-index:996;}
	.ui-dialog .formError{z-index:5000;}
	.ui-dialog .formError .formErrorContent{z-index:5001;}
	.ui-dialog .formError .formErrorArrow{z-index:5006;}
	.inputContainer{position:relative;float:left;}
	.formError{display:block;position:absolute;top:300px;left:300px;text-align:left;cursor:pointer;}
	.formError.inline{display:inline-block;position:relative;top:0;left:0;}
	.ajaxSubmit{display:none;padding:20px;border:1px solid #999;background-color:#55ea55;}
	.formError .formErrorContent{position:relative;width:100%;min-width:120px;padding:4px 10px;border:2px solid #ddd;border-radius:6px;background-color:#666;color:#fff;font:12px/18px "\5b8b\4f53",Tahoma;}
	.formError.inline .formErrorContent{border:0;border-radius:0;box-shadow:none;}
	.greenPopup .formErrorContent{background-color:#33be40;}
	.blackPopup .formErrorContent{background-color:#393939;color:#fff;}
	.formError .formErrorArrow{position:relative;margin:-2px 0 0 13px;width:15px;}
	body[dir='rtl'] .formError .formErrorArrow,
	body.rtl .formError .formErrorArrow{margin:-2px 13px 0 0;}
	.formError .formErrorArrowBottom{top:2px;margin:0 0 0 12px;box-shadow:none;}
	.formError .formErrorArrow div{display:block;height:1px;margin:0 auto;border-right:2px solid #ddd;border-left:2px solid #ddd;background-color:#666;font-size:0;font-size:0;line-height:0;}
	.formError .formErrorArrowBottom div{box-shadow:none;}
	.greenPopup .formErrorArrow div{background-color:#33be40;}
	.blackPopup .formErrorArrow div{background-color:#393939;color:#fff;}
	.formError .formErrorArrow .line10{width:15px;}
	.formError .formErrorArrow .line9{width:13px;}
	.formError .formErrorArrow .line8{width:11px;}
	.formError .formErrorArrow .line7{width:9px;}
	.formError .formErrorArrow .line6{width:7px;}
	.formError .formErrorArrow .line5{width:5px;}
	.formError .formErrorArrow .line4{width:3px;}
	.formError .formErrorArrow .line3{width:1px;border-right:2px solid #ddd;border-bottom:0 solid #ddd;border-left:2px solid #ddd;}
	.formError .formErrorArrow .line2{width:3px;border:0;background-color:#ddd;}
	.formError .formErrorArrow .line1{width:1px;border:0;background-color:#ddd;}

	.popover{color:#676a6c;}

	.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{margin-left:0px;}