    
<extend name="Public/base"/>
<block name="title">二维码收银</block>
<block name="levels"><li><a href="{:U("Manage/Index/index")}">后台首页</a></li><li>微信收银台</li></block>
<block name="body">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title clearfix">
                    <!--<ul class="nav nav-tabs"> 
                    <li class="active"> <a href="#">收银台</a> </li> 
                    <li> <a href="<?php echo $this->SiteUrl;?>/merchants.php?m=User&c=cashier&a=payRecord">收款记录</a> </li> 
                    <li> <a href="<?php echo $this->SiteUrl;?>/merchants.php?m=User&c=cashier&a=ewmRecord">二维码记录</a> </li> 
                    </ul> -->
                    <strong>指定金额收款</strong> 
                </div>

                <div class="ibox-content"> 
                    <div class="app__content js-app-main carousel slide" id="carousel3" >
                        <div class="carousel-inner">
                            <div class="page-cashier-box"> 
                                <div class="cashier-desk clearfix"> 
                                    <!-- 实时收款二维码 --> 
                                    <div class="realtime-pay js-pay-code-region clearfix">
                                        <div style="text-align: center;">
                                            <div class="pay-config" style="margin-top: 7%;">
                                                <form class="form-horizontal">
                                                    <div class="control-group config-title"> 
                                                    <!--<div class="controls"> 
                                                     <span id="spantext">支付类型：</span>
                                                        <select name="paytype" id="paytype" class="input-sm form-control input-s-sm inline switch" style="width:251px;">
                                                          <option value="wxpay">微信支付</option>
                                                        </select>
                                                     <span class="clear-btn js-clear"></span> 
                                                    </div>  -->
                                                    </div>

                                                    <div class="control-group config-title"> 
                                                        <div class="controls"> 
                                                            <input type="text" name="cashier_name" class="js-cashier-name js-input" value="" placeholder="收款商品名称" style="margin-bottom: 20px;" /> 
                                                            <span class="clear-btn js-clear"></span> 
                                                        </div> 
                                                    </div> 
                                                   
                                                    <div class="control-group config-amount"> 
                                                        <div class="controls"> 
                                                            <input type="text" name="cashier_value" class="js-cashier-value js-input" value="" placeholder="输入金额(至少0.01元)" style="margin-bottom: 20px;" /> 
                                                            <a href="javascript:void(0)" class="btn btn-primary js-weixin-qrcode">生成微信二维码</a>
                                                            <a href="javascript:void(0)" class="btn btn-success js-alipay-qrcode">生成支付宝二维码</a>
                                                            <a href="javascript:void(0)" class="btn btn-success js-qq-qrcode">生成QQ二维码</a>
                                                        </div>
                                                    </div> 
                                                    <p class="gray tips fixed-tips"></p> 
                                                </form> 
                                            </div> 

                                            <div class="pay-code" id="immediately"> 
                                                <h5>立刻支付二维码</h5>
                                                <div class="qr-code-zone gray" id="qr-code-zone">二维码区域 </div> 
                                                <p class="gray tips" id="receivables">收款: &nbsp;-&nbsp; 元</p> 
                                                <p class="tips">&nbsp;&nbsp;</p> 
                                            </div>

<!--                                            <div class="pay-code f-pay-code"> 
                                                <h5>永久支付二维码</h5>
                                                <div class="qr-code-zone gray" id="qr-code-forever">二维码区域</div> 
                                                <p class="gray tips" id="receivablesforever">收款: &nbsp;-&nbsp; 元</p> 
                                                <p class="tips downLoadEwm"> <a href="javascript:void(0)" onclick="lkewmdown()">下载二维码</a> </p> 
                                            </div>-->

                                            <div class="pay-code" id="autopay-qrcode"> 
                                                <h5>自助付款</h5>
                                                <div class="qr-code-zone gray" id="qr-code-autopay"></div> 
                                                <p class="gray tips" id="receivables">买家可自助输入付款金额</p>
                                                <p class="tips downLoadEwm"> <a href="javascript:void(0)" onclick="ewmdown()">下载二维码</a></p>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 

        <!-- 实时交易信息展示区域 --> 
        <div class="cashier-realtime"> 
            <div class="realtime-title-block clearfix"> 
                <h1 class="realtime-title">近期收款情况</h1> 
                <a href="javascript:void(0)" class="js-refresh-list refresh-list">刷新</a> 
            </div> 
        </div> 
      
        <div class="js-real-time-region realtime-list-box loading">
            <div class="widget-list">
                <div class="js-list-filter-region clearfix ui-box" style="position: relative;">
                    <div class="widget-list-filter"></div>
                </div> 
        
                <div class="ui-box"> 
                    <table class="ui-table ui-table-list" data-page-size="20" style="padding: 0px;"> 
                        <thead class="js-list-header-region tableFloatingHeaderOriginal">
                            <tr class="widget-list-header">
                                <th>订单号</th>
                                <th>添加时间</th>
                                <th  data-hide="phone">付款人</th>
                                <th  data-hide="phone">付款时间</th>
                                <th  data-hide="phone">付款金额(元)</th>
                               
                                <th  data-hide="phone">方式</th>
                                <th  data-hide="phone">支付情况</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        
                        <tbody class="js-list-body-region" id="table-list-body">
            <?php if(!empty($order)){
                foreach($order as $ovv){
            ?>
            <tr class="widget-list-item">
                <td><?php echo $ovv['order_id'];?></td>
                <td><?php echo $ovv['create_time'];?></td>
                <td><?php if(!empty($ovv['nickname'])){
                        echo $ovv['nickname'];
                        }elseif(!empty($ovv['truename'])){
                 echo htmlspecialchars_decode($ovv['truename'],ENT_QUOTES);
            }elseif(!empty($ovv['openid'])){
                echo $ovv['openid'];
            }else{
                echo '未知客户';
            }?></td> 

            <td><?php echo $ovv['pay_time']; ?></td>
            <td><?php echo $ovv['goods_price'];?></td>
            <td><img src="__IMG__/pay_icon/{$ovv.pay_way}.png" height="20">-
                <?php
            if($ovv['pay_type']=='NATIVE'){
                  echo "扫码";
             }elseif($ovv['pay_type']=='MICROPAY'){
                  echo "刷卡";
             }elseif($ovv['pay_type']=='JSAPI'){
                  echo "自助";
             }
             ?></td>
            <td><?php if($ovv['refund']==1){?>
                 <font>退款中...</font>
            <?php }elseif($ovv['refund']==2){?>
                 <font color="#2e6da4">已退款</font>
            <?php }elseif($ovv['refund']==3){?>
                 <font color="#ed5565">退款失败</font>
             <?php }else{?>
                <?php if($ovv['ispay']==1){?>
                 <font color="#44b549">已支付</font>
                <?php }else{ ?>
                <font color="#ed5565">未支付</font>
                <?php }?>
            <?php }?>
            </td> 
            <td>
                <button class="btn btn-sm btn-info" onclick="GetDetail({$ovv.id});"><strong>支付详情</strong></button>
            </td>
           </tr>
           <?php }}else{?>
           <tr class="widget-list-item"><td colspan="7">暂无订单</td></tr>
           <?php }?>
          </tbody> 
         </table> 
         <div class="js-list-empty-region"></div> 
        </div> 
        <div class="js-list-footer-region ui-box">
         <div class="widget-list-footer"></div>
        </div> 
       </div>
      </div> 
     </div>
    </div>
   </div> 
  </div>
                    </div>
                </div>
            </div>
        </div>
</block>

<block name="top">
    <link href="__CSS__/cashier.css" rel="stylesheet">
    <link href="__CSS__/footable.core.css" rel="stylesheet">
    <style>
        .ibox-title h5 {
            margin: 10px 0 0px;
        }
        select.input-sm {
            height: 35px;
            line-height: 35px;
        }
        .fa-paste{
            margin-right:7px;
            padding: 0px;
        }
        .dz-preview{
            display:none;
        }
        .ibox-title ul{ list-style: outside none none !important; margin: 0; padding: 0;}
        .ibox-title li:nth-child(1) { float: left;width: 30%; }
        .ibox-title li:nth-child(2) { float: left;width: 32%; }
        .ibox-title li:nth-child(3){width: 35%; }
        #spantext{    display: inline-block;height: 32px;line-height: 29px;position: relative;top: -10px;}
        #qr-code-zone canvas{vertical-align: middle;}
        #qr-code-zone {line-height: 200px;padding-top: 4px;}
        #qr-code-forever canvas{vertical-align: middle;}
        #qr-code-forever {line-height: 200px;padding-top: 4px;}
        #qr-code-autopay canvas{vertical-align: middle;}
        #qr-code-autopay {line-height: 200px;padding-top: 4px;}
        #table-list-body .btn-st{background-color: #337ab7;border-color: #2e6da4;cursor:auto;}
        #oderinfo{overflow-y: scroll;}
        #lkewmdown{overflow-y: scroll;}
        #ewmdown{overflow-y: scroll;}
        .float-e-margins .ibox-content{border-style:none;}
        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus {
         background-color: #FFF;
        }
        .nav-tabs li.active  a {border-color:#dddddd #dddddd #fff #fff}
        .nav-tabs li.active  a:hover,.nav-tabs li.active a:focus {border-color:#dddddd #dddddd #fff #fff;background-color:#FFF;}
        .mbform .controls{text-align: left;}
        .showSweetAlert input[type="text"]{
            display: inline;
        }
    </style>
    <script src="__JS__/footable.all.min.js"></script>
</block>

<block name="bottom">
    <div class="modal inmodal" tabindex="-1" role="dialog"  id="oderinfo">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close _close"><span style="font-size: 35px;">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">支付详情</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white _close">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" tabindex="-1" role="dialog"  id="lkewmdown">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close _close"><span style="font-size: 35px;">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">永久支付二维码下载</h4>
                </div>
                <div class="modal-body">
                    <table class="ui-table ui-table-simple goods-table footable-loaded footable no-paging">
                     <thead>
                      <tr>
                       <th class="footable-sortable">尺寸</th>
                       <th data-hide="phone" class="footable-sortable">备注</th>
                       <th data-hide="phone" class="footable-sortable">操作</th>
                      </tr>
                     </thead>
                     <tbody>
                      <tr class="test-item footable-even" style="display: table-row;">
                       <td><span>6cm x 6cm</span></td>
                       <td>L型扫码牌</td>
                       <td><a href="javascript:void(0)" id="downloadEwm11">下载二维码</a></td>
                      </tr>
                      <tr class="test-item footable-even" style="display: table-row;">
                       <td><span>28cm x 28cm</span></td>
                       <td>通用</td>
                       <td><a href="javascript:void(0)" id="downloadEwm12">下载二维码</a></td>
                      </tr>
                     </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white _close">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" tabindex="-1" role="dialog"  id="ewmdown">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close _close"><span style="font-size: 35px;">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">自助付款二维码下载</h4>
                </div>
                <div class="modal-body">
                    <table class="ui-table ui-table-simple goods-table footable-loaded footable no-paging">
                     <thead>
                      <tr>
                       <th class="footable-sortable">尺寸</th>
                       <th data-hide="phone" class="footable-sortable">备注</th>
                       <th data-hide="phone" class="footable-sortable">操作</th>
                      </tr>
                     </thead>
                     <tbody>
                      <tr class="test-item footable-even" style="display: table-row;">
                       <td><span>6cm x 6cm</span></td>
                       <td>L型扫码牌</td>
                       <td><a href="javascript:void(0)" id="downloadEwm21">下载二维码</a></td>
                      </tr>
                      <tr class="test-item footable-even" style="display: table-row;">
                       <td><span>28cm x 28cm</span></td>
                       <td>通用</td>
                       <td><a href="javascript:void(0)" id="downloadEwm22">下载二维码</a></td>
                      </tr>
                     </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white _close">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script src="__JS__/cashier/canvas2image.js"></script>
    <script src="__JS__/cashier/commonfunc.js"></script>
    <script>
        var apiType = {$api_type};
        if(apiType == 1){
            $('.js-alipay-qrcode').remove();
        }else{
            $('.js-qq-qrcode').remove();
        }
    //$('.qr-code-zone').qrcode("http://www.helloweba.com"); //任意字符串 
    var qwidth=qheight=200;
    if(is_mobile()){
      $('.form-horizontal').addClass('mbform');
      $('.row .col-lg-12').css('padding','1px');
      $('.float-e-margins .ibox-content').css('padding','15px 5px 20px 5px');
      $('.cashier-desk .realtime-pay').css('float','none').css('padding','0 0 0 5px');
      $('.js-pay-code-region .pay-code').css('float','none').css('margin-left','0px').css('padding','0px');
      $('.js-cashier-name').css('width','95%');
      $('.js-fixed-code-region').css('width','auto').css('border-left','none');
      $('.qr-code-zone').css('width','251px').css('height','251px').css('padding-top','9px');
      $('.js-fixed-code-region').css('margin','0px').css('float','none');
      $('.self-pay-code').css('width','251px').css('height','251px');
      $('.self-pay-code img').css('width','251px').css('height','251px');
      $('#paytype').css('width','70%');
      $('.js-cashier-value').css('width','50%');
      $('.nav-tabs li a').css('padding','10px');
      $('#immediately').css('margin-top','40px');
      $('.downLoadEwm').hide();
      qwidth=qheight=230;
    }else{
      $('.form-horizontal').removeClass('mbform');
    }
     var topost=true;
     var thismoney=0;
        $(document).ready(function(){
             $('.ui-table-list').footable();
            $("#qr-code-autopay").html('').css('background-color','#FFF').qrcode({ 
                    //render: "table", //table方式 
                    width: qwidth, //宽度 
                    height: qheight, //高度
                    text:'{$autopayewm}' //任意内容 
                });
            $('.js-weixin-qrcode').click(function(){
                getEwm('weixin');
            });

            $('.js-alipay-qrcode').click(function(){
                getEwm('alipay');
            });
            $('.js-qq-qrcode').click(function(){
                getEwm('qq');
            });
            $('.js-refresh-list').click(function(){
                if(is_mobile()){
                  window.location.reload();
                  return false;
                }
                var IMGSRC = "__IMG__";
                 $.ajax({
                    url: "{:U('Manage/Order/getajaxOrder')}",
                    type: "POST",
                    dataType: "json",
                    /*async:true,
                    data:{cf:'index'},*/
                    success: function(res){
                        if(res.status != -1 && res.data){
                            var datahtml='';
                            $.each(res.data,function(kk,vv){
                               datahtml+='<tr class="widget-list-item">';
                               datahtml+='<td>'+vv.order_id+'</td>';
                               datahtml+='<td>'+vv.create_time+'</td>';
                               if(vv.truename == ""){
                                datahtml+='<td>未知客户</td>';
                               }else{
                                datahtml+='<td>'+vv.truename+'</td>';
                               }
//                               datahtml+='<td>'+vv.mch_id+'</td>';
                               datahtml+='<td id="datas">' + vv.pay_time +'</td>';
                               datahtml+='<td>'+vv.goods_price+'</td><td>';
                                datahtml+='<img src="'+IMGSRC+'/pay_icon/'+vv.pay_way+'.png" height="20">-';
                               if(vv.pay_type == "NATIVE"){
                                 datahtml+='扫码';
                               }else if(vv.pay_type=="MICROPAY"){
                                  datahtml+='刷卡';
                               }else if(vv.pay_type=="JSAPI"){
                                  datahtml+='自助';
                               }
                               datahtml+= '</td><td>';
                               if(vv.refund == 1){
                                 datahtml+='<font>退款中...</font>';
                               }else if(vv.refund==2){
                                  datahtml+='<font color="#2e6da4">已退款</font>';
                               }else if(vv.refund==3){
                                  datahtml+='<font color="#ed5565">退款失败</font>';
                               }else{
                                   if(vv.ispay==1){
                                       datahtml+='<font color="#44b549">已支付</font>';
                                   }else{
                                       datahtml+='<font color="#ed5565">未支付</font>';
                                   }                                 
                               }
                               datahtml+='</td><td><button class="btn btn-sm btn-info" onclick="GetDetail('+vv.id+');"><strong>支付详情</strong></button></td>';
                               datahtml+='</tr>';
                            });
                          $('.js-list-body-region').html(datahtml);
                        }else{
                            $('.js-list-body-region').html('<tr class="widget-list-item"><td colspan="6">暂无订单</td></tr>');
                        }
                         $('.ui-table-list').footable();
                        /*setTimeout(function(){
                        
                        }, 2000);*/
                    }
                });
            });
        });

     function getEwm(type){
         if(!topost) return false;
         var postdata={paytype:type};
         postdata.tname=$.trim($('input[name="cashier_name"]').val());
         if(!postdata.tname){
            swal({title:'付款理由必须填！',text:'', type:"error"});
            return false;
         }
         postdata.tprice=$.trim($('input[name="cashier_value"]').val());
         postdata.tprice=parseFloat(postdata.tprice);
         if(!(postdata.tprice > 0)){
            swal({title:'付款金额必须填！',text:'', type: "error"});
            return false; 
         }
         thismoney=postdata.tprice;
         topost=false;
         $.post('{:U("Manage/Xingye/ewmpay")}',postdata,function(ret){
             $('.js-refresh-list').click();
            topost=true;
            if(ret.status == 1){
                $("#qr-code-zone").html('').css('background-color','#FFF').qrcode({ 
                    //render: "table", //table方式 
                    width: qwidth, //宽度 
                    height: qheight, //高度
                    text:ret.qrcode //任意内容 
                });
                var typename = "";
                if(type=="weixin"){
                    typename = "微信收款：";
                }else if(type=="alipay"){
                    typename = "支付宝收款：";
                }
                $('#receivables').html(typename+postdata.tprice+' 元');

                $("#qr-code-forever").html('').css('background-color','#FFF').qrcode({ 
                    //render: "table", //table方式 
                    width: qwidth, //宽度 
                    height: qheight, //高度 
                    text:ret.foreverpay //任意内容 
                });
                $('#receivablesforever').html('收款: '+postdata.tprice+' 元');
            }else{
                swal("失败", ret.msg , "error");
            }
        },'json');
     }

     function lkewmdown(){
       $('#lkewmdown').show();
     }

     function ewmdown(){
       $('#ewmdown').show();
     }

    function getLocalTime(uTime){
      var myDate = new Date(uTime*1000);
      var year = myDate.getFullYear();
      var month = myDate.getMonth() + 1;
      var day = myDate.getDate();
      var hours = myDate.getHours();
      var minutes = myDate.getMinutes();
      var second = myDate.getSeconds();
      if(parseInt(month)<10){
            month = '0'+month;
      }
      if(parseInt(day)<10){
            day = '0'+day;
      }
      if(parseInt(hours)<10){
            hours = '0'+hours;
      }
      if(parseInt(minutes)<10){
            minutes = '0'+minutes;
      }
      if(parseInt(second)<10){
            second = '0'+second;
      }
      return  year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + second;
    }    

   var screenH=$(window).height();
    screenH=  screenH-20;
    $('#oderinfo').css('height',screenH);
    
    var odurl="{:U('Manage/Statistics/odetail')}";
    
    
    function refund(id, price){      
        swal({  
            title: "退款确认",  
            text: "请输入退款金额",  
            type: "input",  
            showCancelButton: true,
            closeOnConfirm: false,
//            confirmButtonColor: "#DD6B55",  
            confirmButtonText: "退款",  
            cancelButtonText: "取消", 
            inputValue: price, 
//        closeOnConfirm: true,  
         },  
        function(inputValue){
//                        inputValue = Number(inputValue);
                        if (inputValue === false) return false;
                        if (inputValue === "" || isNaN(inputValue)) {      
                            swal.showInputError("请正确输入退款金额！");
                            return false    
                        }       
                        $('#popPay .modal-header').html('<h6 class="modal-title">请耐心等待....</h6><span>请耐心等待，不要点取消！</span>');
                        $.ajax({
                            type: "POST",
                            url: "{:U('Manage/Xingye/refund')}",
                            data: {'id': id, 'refund_fee': inputValue},
                            dataType: "json",
                            beforeSend: function(){
                                $('#popPay').show();
                            },
                            success: function(data){
                                    $('#popPay').hide();
                                    swal(data.msg, 'success');                        
                                      },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                $('#popPay').hide();
                                swal('请求失败， textStatus:'+textStatus, 'error');
                            }
                        });  
                    } );  
    }
    
     function queryRefund(id){
            $('#popPay .modal-header').html('<h6 class="modal-title">请耐心等待....</h6><span>请耐心等待，不要点取消！</span>');
             $.ajax({
            type: "POST",
            url: "{:U('Manage/Xingye/queryRefund')}",
            data: {'id': id},
            dataType: "json",
            beforeSend: function(){
                $('#popPay').show();
            },
            success: function(data){
                    $('#popPay').hide();
                    if(1 == data.status){
                        swal('订单正在退款中...', 'success');
                    }else if(2 == data.status){
                        swal('订单已退款成功！', 'success');
                    }else if(3 == data.status){
                        swal('退款失败！', 'success');
                    }else{
                        swal(data.msg, 'success');
                    }                    
                        
                      },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                $('#popPay').hide();
                swal('请求失败， textStatus:'+textStatus, 'error');
            }
        });
    
    
    }
        setInterval(function(){
            $('.js-refresh-list').click();
        },5000);
    </script>
  <script src="__JS__/cashier/lhsw.js"></script>
</block>









