<extend name="Public/base"/>

<block name="title">在线收银</block>

<block name="levels">
    <li><a href="{:U(" Manage/Index/index")}">后台首页</a></li>
    <li>微信收银台</li>
</block>

<block name="body">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container weixin">
                <ul class="nav nav-tabs">
                    <if condition="empty($usId) or in_array('wx_sksy',session('SX_USERS.grant'))">
                        <li class="active"><a data-toggle="tab" href="#tab-1">扫码收银</a></li>
                    </if>
                    <!--                                <if condition="empty($usId) or in_array('wx_smtk',session('SX_USERS.grant'))">
                                                        <li class=""><a data-toggle="tab" href="#tab-2">扫码退款</a></li>
                                                    </if>-->
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 micropay"></div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 micropayRefund"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="margin-top: 20px;">
            <div class="ibox float-e-margins">
                <div class="ibox-title clearfix">
                    <!-- 实时交易信息展示区域 -->
                    <div class="ibox float-e-margins">
                        <div class="cashier-realtime">
                            <div class="realtime-title-block clearfix">
                                <h1 class="realtime-title">近期收款情况</h1>
                                <a href="javascript:void(0)" class="js-refresh-list refresh-list">刷新</a>
                            </div>
                        </div>
                        <div class="js-real-time-region realtime-list-box loading">
                            <div class="widget-list">
                                <div class="js-list-filter-region clearfix ui-box" style="position: relative;">
                                    <div class="widget-list-filter"></div>
                                </div>
                                <div class="ui-box">
                                    <table class="ui-table ui-table-list" data-page-size="20" style="padding: 0px;">
                                        <thead class="js-list-header-region tableFloatingHeaderOriginal">
                                        <tr class="widget-list-header">
                                            <th>订单号</th>
                                            <th>添加时间</th>
                                            <th data-hide="phone">付款人</th>
                                            <th data-hide="phone">付款时间</th>
                                            <th data-hide="phone">付款金额(元)</th>

                                            <th data-hide="phone">方式</th>
                                            <th data-hide="phone">支付情况</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody class="js-list-body-region" id="table-list-body">
                                        <?php if(!empty($order)){
                                  foreach($order as $ovv){
                               ?>
                                        <tr class="widget-list-item">
                                            <td><?php echo $ovv['order_id'];?></td>
                                            <td><?php echo $ovv['create_time'];?></td>
                                            <td><?php if(!empty($ovv['truename'])){
                                     echo htmlspecialchars_decode($ovv['truename'],ENT_QUOTES);
                                }elseif(!empty($ovv['openid'])){
                                    echo $ovv['openid'];
                                }else{
                                    echo '未知客户';
                                }?></td>
                                            <td><?php echo $ovv['pay_time'];?>
                                            </td>
                                            <td><?php echo $ovv['goods_price'];?></td>
                                            <td><img src="__IMG__/pay_icon/{$ovv.pay_way}.png" height="20">-
                                                <?php
                                if($ovv['pay_type']=='NATIVE'){
                                      echo "扫码";
                                 }elseif($ovv['pay_type']=='MICROPAY'){
                                      echo "刷卡";
                                 }elseif($ovv['pay_type']=='JSAPI'){
                                      echo "自助";
                                 }
                                 ?></td>
                                            <td><?php if($ovv['refund']==1){?>
                                                <font>退款中...</font>
                                                <?php }elseif($ovv['refund']==2){?>
                                                <font color="#2e6da4">已退款</font>
                                                <?php }elseif($ovv['refund']==3){?>
                                                <font color="#ed5565">退款失败</font>
                                                <?php }else{?>
                                                <?php if($ovv['ispay']==1){?>
                                                <font color="#44b549">已支付</font>
                                                <?php }else{ ?>
                                                <font color="#ed5565">未支付</font>
                                                <?php }?>
                                                <?php } ?>
                                            </td>

                                            <td>
                                                <button class="btn btn-sm btn-info" onclick="GetDetail({$ovv.id});">
                                                    <strong>支付详情</strong></button>
                                            </td>
                                        </tr>
                                        <?php }}else{?>
                                        <tr class="widget-list-item">
                                            <td colspan="7">暂无订单</td>
                                        </tr>
                                        <?php }?>
                                        </tbody>
                                    </table>
                                    <div class="js-list-empty-region"></div>
                                </div>
                                <div class="js-list-footer-region ui-box">
                                    <div class="widget-list-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 实时交易信息展示区域 -->
                </div>
            </div>
        </div>


    </div>
</block>

<block name="top">
    <link href="__CSS__/cashier.css" rel="stylesheet">
    <style>
        #popPay .modal-footer {
            padding: 15px 0 0;
            text-align: center;
        }

        #popPay .modal-dialog {
            width: 530px;
        }

        #popPay .spiner-example {
            height: 170px;
        }

        #popPay .okk {
            height: 170px;
            color: #0ab85c;
            font-size: 45px;
            text-align: center;
        }

        #popPay .tip {
            color: #0ab85c;
        }

        #popPay .modal-footer button {
            font-size: 22px;
        }

        .inmodal .modal-header {
            padding: 30px 15px 15px 15px;
        }

        .showSweetAlert input[type="text"] {
            display: inline;
        }
    </style>
    <script src="__JS__/footable.all.min.js"></script>
</block>

<block name="bottom">
    <div class="modal inmodal" tabindex="-1" role="dialog" id="oderinfo">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close _close"><span style="font-size: 35px;">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">支付详情</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white _close">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" tabindex="-1" role="dialog" id="popPay">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h6 class="modal-title">请耐心等待用户支付完成....</h6>
                    <span>请耐心等待支付完成，不要点取消！</span>
                </div>
                <div class="modal-body">
                    <div class="spiner-example" style="padding-top: 30px;">
                        <div class="sk-spinner sk-spinner-circle" style="height: 100px;width: 100px;">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btntxt" type="button" class="btn btn-white" onclick="$('#popPay').hide(300);
                            $('.modal-backdrop').remove();" data-dismiss="modal"> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__JS__/cashier/commonfunc.js"></script>
    <script>
        var Ttype = {$type};
        if (Ttype == 2) {
            $('.nav-tabs li').removeClass('active');
            $('.nav-tabs li:last').addClass('active');
            $('#tab-1').removeClass('active');
            $('#tab-2').addClass('active');
        }
        !function (a, b, wx) {
            function is_mobile() {
                var ua = navigator.userAgent.toLowerCase();
                if ((ua.match(/(iphone|ipod|android|ios|ipad)/i))) {
                    if (navigator.platform.indexOf("Win") == 0 || navigator.platform.indexOf("Mac") == 0) {
                        return false;
                    } else {
                        return true;
                    }
                } else {
                    return false;
                }
            }

            function is_weixin() {
                var ua = navigator.userAgent.toLowerCase();
                if (is_mobile() && ua.indexOf('micromessenger') != -1) {
                    return true;
                } else {
                    return false;
                }
            }

            function orderquery(orderid) {
                $.post("{:U('Manage/Wxcashier/orderquery')}", {orderid: orderid}, function (data) {
                    return 123;
                }, 'JSON');
            }

            var c = c || {};
            c.config = {
                data: ['weixin_micropay', 'weixin_micropayRefund']
            }
            c.init = function () {
                c.tpl();
            }

            c.loadJs = function (d) {
                var oHead = document.getElementsByTagName('head').item(0),
                        oScript = document.createElement("script");
                oScript.type = "text/javascript";
                oScript.src = d;
                oHead.appendChild(oScript);
            }
            c.tmpl = function (d) {
                var e = {
                    weixin: {
                        micropay: '<h3 class="m-t-none m-b">收款</h3><p>只适用微信、支付宝条码枪刷卡支付</p><p></p><form role="form" action="{:U("Manage/Xingye/payment")}" id="micropay"><div class="form-group" style="display:none"><label>收款备注</label> <input type="text" placeholder="收款备注" name="goods_name"  id="goods_name" class="form-control" value="扫码枪刷卡支付"></div><div class="form-group"><label>支付金额</label> <input type="text" placeholder="支付金额(至少0.01元)" name="goods_price" id="goods_price" class="form-control"></div><div><button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>扫码收款</strong></button></div></form>',
                        micropayRefund: '<h3 class="m-t-none m-b">退款</h3><p>只适用微信、支付宝退款</p><p>可扫支付交易详情页的条形码来退款.</p><form role="form" action="{:U("Manage/Xingye/refund")}" id="wxSmRefund"><div><button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>扫码退款</strong></button></div></form>',
                    }
                }
                var f;
                $.each(d, function (g, h) {
                    f = e = e[h];
                });
                return f;
            }
            c.tpl = function () {
                $.each(this.config.data, function (d, e) {
                    c.create(e.split('_'));
                });
            }
            c.submit = function (d) {
                var tmpStr = '';
                var formType = $.trim(d.attr('id'));
                if (formType == 'micropay') {
                    tmpStr = $.trim($('#goods_price').val());
                    tmpStr = parseFloat(tmpStr);
                    if (!(tmpStr >= 0.01)) {
                        swal("温馨提示", '支付金额必须填写一个大于0.01的数', "error");
                        $('#goods_price').focus();
                        return false;
                    }
                }
                tmpStr = d.find('.auth_code').val();
                tmpStr = $.trim(tmpStr);
                if (!tmpStr) {
                    swal("温馨提示", '支付auth_code为空,请填写或扫码获取', "error");
                    d.find('.auth_code').focus();
                    return false;
                }
                if (formType == 'micropay') {
                    $('#popPay .modal-header').html('<h6 class="modal-title">请耐心等待用户支付完成....</h6><span>请耐心等待支付完成，不要点取消！</span>');
                } else if (formType == 'wxSmRefund') {
                    $('#popPay .modal-header').html('<h6 class="modal-title">请稍等，正在为您退款...</h6><span></span>');
                }
                $('body').append('<div class="modal-backdrop in"></div>');
                $('#popPay').show();
                var btntxt = '<div class="sk-spinner sk-spinner-circle" style="height: 100px;width: 100px;"><div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div><div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div><div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle">';
                $('#popPay .spiner-example').html(btntxt);
                $('#btntxt').html(" 取 消 ");
                var e = d.serialize();
                b.post(d.attr('action'), e, function (data) {
                    if (data.status == 1) {
                        c.tpl();
                        if (formType != 'micropay') {
                            $('#popPay').hide();
                            $('.modal-backdrop').remove();
                            swal("成功!", data.msg, "success");
                        } else {
                            $('#popPay').show();
                            $('#popPay .spiner-example').addClass('okk').html('<span>' + data.price + '元,支付完成！</span>');
                            $('#btntxt').html(" 确 定 ");
//                            swal("交易成功", data.price + '元,支付完成!', "success");
                            $('#popPay .modal-header').html('<h6 class="modal-title">恭喜您交易成功</h6>');
                        }
                    } else if (data.status == 2) {
                        $('#popPay .modal-header').html('<h6 class="modal-title tip">等待用户输入支付密码....</h6><span>请耐心等待支付完成，不要点取消！</span>');
                        var Interval = setInterval(function () {
                            $.post("{:U('Manage/Xingye/queryOrder')}", {orderid: data.orderid}, function (data) {
                                if (data.status == 1) {
                                    window.clearInterval(Interval);
                                    $('#popPay').show();
                                    $('#popPay .spiner-example').addClass('okk').html('<span>' + data.price + '元,支付完成！</span>');
                                    $('#btntxt').html(" 确 定 ");
                                    $('#popPay .modal-header').html('<h6 class="modal-title">恭喜您交易成功</h6>');
                                } else if (data.status == 2) {
                                } else {
                                    window.clearInterval(Interval);
                                    $('.modal-backdrop').remove();
                                    $('#popPay').hide();
                                    swal({title: "失败", text: data.msg, type: "error"}, function () {
//                                        window.location.reload();
                                    });
                                }
                            }, 'JSON');
                        }, 5000);
                    } else {
                        $('.modal-backdrop').remove();
                        $('#popPay').hide();
                        swal({title: "失败", text: data.msg, type: "error"}, function () {
//                            window.location.reload();
                        });
                    }
                }, 'JSON');

            }
            c.create = function (s) {
                function d(e) {
                    if (is_weixin()) {
                        wx.scanQRCode({
                            needResult: 1,
                            scanType: ["qrCode", "barCode"],
                            success: function (res) {
                                var result = res.resultStr;

                                if (result.indexOf(',') > 0) {
                                    var result = result.split(',');
                                    result = result[1];
                                }

                                if (result && /^\d+$/g.test(result)) {
//                                    e.prepend('<input type="hidden" name="auth_code" class="auth_code" value="' + result + '">');
                                    c.submit(e);
                                    return false;
                                } else {
                                    swal("错误!", "不是有效的码，非法输入！", "error");
                                }
                            }
                        });
                    } else {
                        swal("错误!", "您使用的不是微信浏览器，此功能无法使用！", "error");
                    }
                }

                var e = this.tmpl(s),
                        f,
                        i = b('body');
                $.each(s, function (g, h) {
                    f = i = i.find('.' + h);
                });
                f.html(e);

                if (is_weixin()) {
                    f.find('form').find('button[type="submit"]').click(function () {
                        d(f.find('form'));
                        return false;
                    });
                } else {
                    if (f.find('form').find('.form-group').size()) {
                        f.find('form').find('.form-group').last().after('<div class="form-group"><label>刷卡授权码</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>请连接扫码枪扫码</span><input type="text" placeholder="微信、支付宝刷卡支付授权码(请连接扫码枪扫码)" name="auth_code" class="form-control auth_code"></div>');
                    } else {
                        f.find('form').prepend('<div class="form-group"><label>订单号</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>请连接扫码枪扫码</span> <input type="text" placeholder="需要退款的订单号(请连接扫码枪扫码)" name="auth_code" class="form-control auth_code"></div>');
                    }
                    f.find('form').find('button[type="submit"]').click(function () {
                        c.submit(f.find('form'));
                        return false;
                    });
                }
            }
            b(document).ready(function () {
                c.init();
            });
        }(window, jQuery);


        $(document).ready(function () {
            $('.js-refresh-list').click(function () {
                if (is_mobile()) {
//                    window.location.reload();
                    return false;
                }
                var IMGSRC = "__IMG__";
                $.ajax({
                    url: "{:U('Manage/Order/getajaxOrder')}",
                    type: "POST",
                    dataType: "json",
                    /*async:true,
                     data:{cf:'index'},*/
                    success: function (res) {
                        if (res.status != -1 && res.data) {
                            var datahtml = '';
                            $.each(res.data, function (kk, vv) {
                                datahtml += '<tr class="widget-list-item">';
                                datahtml += '<td>' + vv.order_id + '</td>';
                                datahtml += '<td>' + vv.create_time + '</td>';
                                if (vv.truename == "") {
                                    datahtml += '<td>' + vv.openid + '</td>';
                                } else {
                                    datahtml += '<td>' + vv.truename + '</td>';
                                }
                                datahtml += '<td id="datas">' + vv.pay_time + '</td>';
                                datahtml += '<td>' + vv.goods_price + '</td><td>';
                                datahtml += '<img src="' + IMGSRC + '/pay_icon/' + vv.pay_way + '.png" height="20"></td><td>';
                                if (vv.pay_type == "NATIVE") {
                                    datahtml += '扫码';
                                } else if (vv.pay_type == "MICROPAY") {
                                    datahtml += '刷卡';
                                } else if (vv.pay_type == "JSAPI") {
                                    datahtml += '自助';
                                } else {
                                    datahtml += '其他';
                                }
                                datahtml += '</td><td>';
                                if (vv.refund == 1) {
                                    datahtml += '<font>退款中...</font>';
                                } else if (vv.refund == 2) {
                                    datahtml += '<font color="#2e6da4">已退款</font>';
                                } else if (vv.refund == 3) {
                                    datahtml += '<font color="#ed5565">退款失败</font>';
                                } else {
                                    if (vv.ispay == 1) {
                                        datahtml += '<font color="#44b549">已支付</font>';
                                    } else {
                                        datahtml += '<font color="#ed5565">未支付</font>';
                                    }

                                }
                                datahtml += '</td><td><button class="btn btn-sm btn-info" onclick="GetDetail(' + vv.id + ');"><strong>支付详情</strong></button></td>';
                                datahtml += '</tr>';
                            });
                            $('.js-list-body-region').html(datahtml);
                        } else {
                            $('.js-list-body-region').html('<tr class="widget-list-item"><td colspan="6">暂无订单</td></tr>');
                        }
                        $('.ui-table-list').footable();
                        /*setTimeout(function(){

                         }, 2000);*/
                    }
                });
            });
        });

        function getLocalTime(uTime) {
            var myDate = new Date(uTime * 1000);
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            var day = myDate.getDate();
            var hours = myDate.getHours();
            var minutes = myDate.getMinutes();
            var second = myDate.getSeconds();
            if (parseInt(month) < 10) {
                month = '0' + month;
            }
            if (parseInt(day) < 10) {
                day = '0' + day;
            }
            if (parseInt(hours) < 10) {
                hours = '0' + hours;
            }
            if (parseInt(minutes) < 10) {
                minutes = '0' + minutes;
            }
            if (parseInt(second) < 10) {
                second = '0' + second;
            }
            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + second;
        }

        var screenH = $(window).height();
        screenH = screenH - 20;
        $('#oderinfo').css('height', screenH);

        var odurl = "{:U('Manage/Statistics/odetail')}";


        function refund(id, price) {
            swal({
                        title: "退款确认",
                        text: "请输入退款金额",
                        type: "input",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "退款",
                        cancelButtonText: "取消",
                        inputValue: price,
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },

                    function (inputValue) {
//                inputValue = Number(inputValue);
                        if (inputValue === false) return false;
                        if (inputValue === "" || isNaN(inputValue)) {
                            swal.showInputError("请正确输入退款金额！");
                            return false
                        }
                        $('#popPay .modal-header').html('<h6 class="modal-title">请耐心等待....</h6><span>请耐心等待，不要点取消！</span>');
                        $.ajax({
                            type: "POST",
                            url: "{:U('Manage/Xingye/refund')}",
                            data: {'id': id, 'refund_fee': inputValue},
                            dataType: "json",
                            beforeSend: function () {
                                $('#popPay').show();
                            },
                            success: function (data) {
                                $('#popPay').hide();
                                swal(data.msg, 'success');
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $('#popPay').hide();
                                swal('请求失败， textStatus:' + textStatus, 'error');
                            }
                        });
                    }
            );
        }

        function queryRefund(id) {
            $('#popPay .modal-header').html('<h6 class="modal-title">请耐心等待....</h6><span>请耐心等待，不要点取消！</span>');
            $.ajax({
                type: "POST",
                url: "{:U('Manage/Xingye/queryRefund')}",
                data: {'id': id},
                dataType: "json",
                beforeSend: function () {
                    $('#popPay').show();
                },
                success: function (data) {
                    $('#popPay').hide();
                    if (1 == data.status) {
                        swal('订单正在退款中...', 'success');
                    } else if (2 == data.status) {
                        swal('订单已退款成功！', 'success');
                    } else if (3 == data.status) {
                        swal('退款失败！', 'success');
                    } else {
                        swal(data.msg, 'success');
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#popPay').hide();
                    swal('请求失败， textStatus:' + textStatus, 'error');
                }
            });


        }
        setInterval(function(){
            $('.js-refresh-list').click();
        },10000);
    </script>
    <script src="__JS__/cashier/lhsw.js"></script>
</block>